body {

}

/* Container holding the image and the text */
.container {
    /*position: relative;*/
    text-align: center;
    font-size: 100px;
    color: white;
    
  }
.visually-hidden
/* Top right text */
.main-title {
    position: absolute;
    top: 50px;
    left: 50%;
    right: 50%;
  }

  .textos-header{
    position: absolute;
    top: 50px;
    left: 50%;
    right: 50%;
  }

  .btn1{
        display: block;
        width: 350px;
        height: 100px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        background-color: red;
        border-radius: 20px;
        padding: 30px 30px;
        margin: 5% 20%;
        color: yellow;
        text-decoration: none;
                
  }  
  
  .btn1:hover{
        background-color: rgb(207, 120, 120);
        border: 2px solid red;
        color: yellow;
  }
    
  .btn2{
    display: block;
    width: 350px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    background-color: blue;
    border-radius: 20px;
    padding: 30px 30px;
    margin: 8% 20%;
    color: green;
    text-decoration: none;
  }

  .btn2:hover{
    background-color: rgb(93, 93, 218);
    border: 2px solid blue;
    color: green;
}

.select-gen{
  position: relative;
}

.select-gen ul{
  position: relative;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s ;
  display: block;
}

.select-gen:hover ul{
  max-height: 400px;
}

.calcu-title{
  position: absolute;
  top: 50px;
  left: 50%;
  right: 50%;
}

<<<<<<< Updated upstream
=======
.johto{
  display: block;
  width: 220px;
  height: 30px;
  background-color: yellow;
  border: 2px solid  green;
}
.hoenn{
  display: block;
  width: 220px;
  height: 30px;
  background-color: yellow;
  border: 2px solid  green;
}
.sinnoh{
  display: block;
  width: 220px;
  height: 30px;
  background-color: yellow;
  border: 2px solid  green;
}


#kanto-section{
  /*display: none;*/
}

#kanto-pkm{
  display: none;
}

#kanto-section:checked ~ #kanto-pkm{
  display: block;
  width: 900px;
}


/*Volver al inicio*/
>>>>>>> Stashed changes
.index{
  display: block;
  width: 30px;
  height: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: red;
  border-radius: 20px;
  padding: 30px 30px;;
  color: white;
  text-decoration: none;
}

/*Datos pokemon*/

.best-pk-title{
  font-size:35px;
  color:red;
}

.clarification ul{
  font-size: 20px;
  color: black;
}

#strong-type{
  display: inline-block;
  vertical-align: top;
  color: red;
  font-size: 50px;
}

#other-type{
  display: inline-block;
  vertical-align: top;
  font-size: 50px;
}

#stats{
  display:inline-block;
  font-size: 40px;
  color: blue;
}
