body {

}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    font-size: 100px;
    color: white;
    
  }
.visually-hidden
/* Top right text */
.title {
    position: absolute;
    top: 50px;
    left: 50%;
    right: 50%;
  }

  .textos-header{
    position: absolute;
    top: 50px;
    left: 50%;
    right: 50%;
  }

  .btn1{
        display: block;
        width: 350px;
        height: 100px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        background-color: red;
        border-radius: 20px;
        padding: 30px 30px;
        margin: 5% 20%;
        color: yellow;
        text-decoration: none;
                
  }  
  
  .btn1:hover{
        background-color: rgb(207, 120, 120);
        border: 2px solid red;
        color: yellow;
  }
    
  .btn2{
    display: block;
    width: 350px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    background-color: orange;
    border-radius: 20px;
    padding: 30px 30px;
    margin: 1% 20%;
    color: red;
    text-decoration: none;
  }

  .btn2:hover{
    background-color: rgb(255, 205, 112);
    border: 2px solid orange;
    color: red;
}

.dropdown-toggle{
  display: block;
  width: 200px;
  height: 50px;
  background-color: red;
  border-radius: 10px;
  border: 2px solid blue;
  font-size: 28px;
  text-decoration: none;
  text-align:center;
  color: white;
}

.select-gen{
  position: relative;
  font-size: 50px;
}

.regions ul{
  position: relative;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s ;
  display: block;
  background-color: yellow;
}


/*Kanto*/

#kanto-pkm{
  display: none;
}

#kanto-section:checked ~ #kanto-pkm{
  display: block;
}

/*Johto*/

#johto-pkm{
  display: none;
}

#johto-section:checked ~ #johto-pkm{
  display: block;
}

/*Hoenn*/

#hoenn-pkm{
  display: none;
}

#hoenn-section:checked ~ #hoenn-pkm{
  display: block;
}

/*Sinnoh*/

#sinnoh-pkm{
  display: none;
}

#sinnoh-section:checked ~ #sinnoh-pkm{
  display: block;
}


/*Pkm types*/

#strong-type{
  color: red;
  display: inline-block;
  vertical-align: top;
  font-size: 50px;
}

#other-type{
  color: black;
  display: inline-block;
  vertical-align: top;
  font-size: 50px;
}

#stats{
  color: blue;
  display: inline-block;
  font-size: 35px;
}

/*Title and clarification*/

.best-pk-title{
  width: 900px;
  font-size: 40px;
  text-decoration:underline;
}

.clarification{
  width: 900px;
  font-size: 25px;
}


.index{
  display: block;
  width: 50px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
  background-color: red;
  border-radius: 30px;
  padding: 10px 70px;;
  color: white;
  text-decoration: none;
}

/*calculator*/


.calcular{
  display: block;
  width: 400px ;
  height: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  background-color: aqua;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid blue;
  color: black;
}

.touch{
  display: block;
  width: 400px ;
  height: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  background-color: aqua;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid blue;
  color: black;
}

